@import url("./pages/contacts/contact_style.css");
@import url("./pages/contributed_projects/c_projects_style.css");
@import url("./pages/experience/experience_style.css");
@import url("./pages/personal_projects/p_projects_style.css");
@import url("./shared/project_card/style.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #483535;
  --clipWidth: 1.5em;
  --clipHeight: 3em;
}

.scene {
  width: 30em;
  height: 40em;
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(8deg);
}

.welcome-message {
  font-size: xx-large;
  color: blueviolet;
}
/* 
.book {
  position: relative;
  width: 30em;
  height: 40em;
  /* transform: rotateX(10deg) rotateY(-10deg) rotateZ(8deg); */
  /* box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
} */ 

/* .book::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: calc(100% - 20px);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  pointer-events: none;
} */

.bookmarks {
  margin-left: 0.5em;
  text-align: center;
  position: absolute;
  left: 100%;
  top: 20%;
  font-family: 'Bradley Hand';
}

.bookmark {
  cursor: pointer;
  background-color: rgb(29, 224, 158);
  clip-path: polygon(0 0, 0% 100%, 100% 100%, 70% 50%, 100% 0);
  width: 8em;
  color: rgb(69, 93, 93);
  height: 4.5em;
  margin-bottom: 1em;
  max-height: 3em;
  box-shadow: inset 1px -4px 2px rgb(147, 122, 122);
}

.bookmark.experience {
  background-color: rgb(226, 191, 144);
}

.bookmark.p-projects {
  background-color: #ef8585;
}

.bookmark.c-projects {
  background-color: rgb(19, 168, 118);
}

/* 
.book::after {
  box-shadow: 10px 10px 10px black;
} */

.pages > .page {
  position: absolute;
  width: 30em;
  height: 40em;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 3%;
}

.page {
  transform-style: preserve-3d;
  transition: transform 2s;
  transform-origin: top;
  transform: translateY(2pxms);
  border: 2px solid rgb(37, 34, 34);
  border-left: none;
  border-top: none;
}

.page.flipped {
  transform: rotateX(340deg);
  transform-origin: top;
}

.page__front,
.page__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: whitesmoke;
  /* border: 1px solid #624646; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 3%;

}

.page__back {
  transform: rotateX(180deg);
}


.page .clickable {
  bottom: 0%;
  position: absolute;
  width: 30em;
  height: 4em;
  cursor: pointer;
}

/* Only clickable at bottom */
.click-zone {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  cursor: pointer;
}


.clip-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1.5em;
  background: transparent;
  gap: 1em;
}

.clip {
  transform: rotateY(60deg);
  border-radius: 50%;
  height: var(--clipHeight);
  width: var(--clipWidth);
  box-sizing: border-box;
  border: 6px solid gray;
  box-shadow: inset 2px 2px 2px #423f3f;
  z-index: 500;
}

.front,
.back > .clip {
  width: var(--clipWidth);
  height: var(--clipHeight);
  margin-top: -1.5em;
}

.front,
.back {
  position: relative;
  z-index: 500;
  width: calc(var(--clipWidth) / 2);
}

.front {
  left: 0%;
  overflow: hidden;
}

.back {
  z-index: 1;
  right: 0%;
}

.clip-container__front,
.clip-container__back {
  gap: 1.4em;
  position: absolute;
}

.page__holes {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1.4em;
  margin-left: 1.8em;
}

.hole {
  width: 0.75em;
  height: 0.75em;
  background: black;
  border-radius: 50%;
  margin-top: 1em;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 1px white
}


.book ::after {
  color: bisque;
  border: 0.5em solid greenyellow;
}

.back-cover {
  position: absolute;
  width: 100.05%;
  left: 5px;
  height: 101%;
  background: #4b3832;
  z-index: 0;
  border-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: inset -3px 0 10px rgba(79, 3, 3, 0.2);
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation:  ease-in 1s infinite;
}

/* Modal content box */
.modal-content {
  background-color: white;
  margin: 10% auto;
  width: 35%;
  min-height: max-content;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-content .title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;

}

.zoomable {
  position: relative;
  display: inline-block;
}

.magnifier {
  margin-top: -7em;
  margin-left: 6em;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #555;
  pointer-events: none;
  display: none;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.magnifier-content {
  transform: scale(2); /* Adjust zoom level */
  transform-origin: top left;
  position: absolute;
}
