.title {
    color: red;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    max-width: 150px;
    min-height: 150px;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb(77, 65, 65) 2px 2px 1px;
}

.card__title {
    font-weight: 500;
    font-size: large;
    font-style: oblique;
    text-align: center;
    align-content: center;
}

.card__image {
    display: grid;
}

.card__image__line--single img {
    max-width: 95%;
    padding: 1px;
    border: 1px solid;
    margin-left: -4px;
}

.card__image__line--multiple {
    display: flex;
}

.card__image__line--multiple img {
    max-width: 45.75%;
    padding: 1px;
    margin: 0.1px;
    border: 1px solid;
}

.card__description {
    display: none;
}